@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";

@theme inline {
    --color-black: var(--color-black);
    --color-brown-background: var(--color-brown-background);
    --color-text: var(--color-text);
    --color-text-light: var(--color-text-light);
    --color-gray-light: var(--color-gray-light);
    --color-green: var(--color-green);
    --color-dark-green: var(--color-dark-green);
    --color-secondary: var(--color-secondary);
    --color-secondary-focused: var(--color-secondary-focused);
}

:root {
    --color-black: oklch(26.45% 0 0);
    --color-brown-background: #1a1a1a;
    --color-text: #454545;
    --color-text-light: #7c7c7c;
    --color-gray-light: #e0e0e0;
    --color-green: #00906b;
    --color-dark-green: #005841;
    --color-secondary: #ffd480;
    --color-secondary-focused: #ffc75c;
}

@layer base {
    body {
        @apply bg-white text-black;
    }
}

@utility container {
    @media (min-width: 80rem) {
        max-width: 75rem;
    }
}
@utility shadow-custom {
    box-shadow: 0px 2px 3px 0px #2c1c1c1a, 0px 6px 6px 0px #2c1c1c17, 0px 14px 8px 0px #2c1c1c0d,
        0px 25px 10px 0px #2c1c1c03, 0px 39px 11px 0px #2c1c1c00;
}
