@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";

@theme inline {
    --color-neutral-*: initial;

    --color-neutral-200: var(--color-neutral-200);
    --color-neutral-300: var(--color-neutral-300);
    --color-neutral-400: var(--color-neutral-400);
    --color-neutral-500: var(--color-neutral-500);
    --color-neutral-600: var(--color-neutral-600);
    --color-neutral-700: var(--color-neutral-700);
    --color-neutral-800: var(--color-neutral-800);

    --color-primary-50: var(--color-primary-50);
    --color-primary-100: var(--color-primary-100);
    --color-primary-200: var(--color-primary-200);
    --color-primary-300: var(--color-primary-300);

    --color-black: var(--color-black);
    --color-brown-background: var(--color-brown-background);
    --color-secondary: var(--color-secondary);
    --color-secondary-focused: var(--color-secondary-focused);
}

:root {
    --color-white: oklch(100% 0 0);

    --color-neutral-200: #f0f0f0;
    --color-neutral-300: #e0e0e0;
    --color-neutral-400: #cacaca;
    --color-neutral-500: #7c7c7c;
    --color-neutral-600: #454545;
    --color-neutral-700: #252525;
    --color-neutral-800: #191919;

    --color-primary-50: #f1f9f5;
    --color-primary-100: #00906b;
    --color-primary-200: #005841;
    --color-primary-300: #003d2d;

    --color-secondary: #ffd480;

    --color-brown-background: #1a1a1a;
    --color-secondary-focused: #ffc75c;
}

@layer base {
    body {
        @apply bg-white text-black;
    }
}

@utility container {
    padding-inline: 1rem;
    @media (min-width: 80rem) {
        max-width: 75rem;
    }
}
@utility shadow-custom {
    box-shadow: 0px 2px 3px 0px #2c1c1c1a, 0px 6px 6px 0px #2c1c1c17, 0px 14px 8px 0px #2c1c1c0d,
        0px 25px 10px 0px #2c1c1c03, 0px 39px 11px 0px #2c1c1c00;
}
